---
name: Build (DockerHub/GitHub)

on:
  
  workflow_dispatch:
  
env:
  REGISTRY_GITHUB: ghcr.io
  REGISTRY_GITHUB_IMAGE: ${{ github.repository }}
  REGISTRY_DOCKERHUB: registry.hub.docker.com
  REGISTRY_DOCKERHUB_IMAGE: kdsda/ansible

jobs:
  docker-build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    permissions:
      packages: write
      contents: read
    
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
    -
      name: Login to GitHub registry
      uses: docker/login-action@v1 
      with:
        registry: ${{ env.REGISTRY_GITHUB }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    -
      name: Login to DockerHub registry
      uses: docker/login-action@v1 
      with:
        registry: ${{ env.REGISTRY_DOCKERHUB }}
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}
    -
      name: Get date
      id: timestamp
      run: |
        echo "::set-output name=date::$(date +'%Y-%m-%d')"
        echo "::set-output name=week::$(date +'%Y.%V')"
    -
      name: Docker meta
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
          ${{ env.REGISTRY_GITHUB }}/${{ env.REGISTRY_GITHUB_IMAGE }}
          ${{ env.REGISTRY_DOCKERHUB }}/${{ env.REGISTRY_DOCKERHUB_IMAGE }}
        flavor: |
          latest=auto
        tags: |
          type=raw,value=${{ steps.timestamp.outputs.week }}
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
        labels: |
          no.kred.image.maintainer='Kreditorforeningen'
          no.kred.image.vendor='Kreditorforeningen'
          no.kred.image.title='Ansible Container'
          no.kred.image.description='Ansible Container Image'
          no.kred.image.timestamp="${{ steps.timestamp.outputs.date }}"
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
      with:
        install: true
    -
      name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: "Dockerfile"
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: true
        build-args: |
          IMAGE_NAME=debian
          IMAGE_VERSION=stable-slim
