---
name: Build (Docker Hub)

on:
  
  workflow_dispatch:

  schedule:
  - cron: '15 0 15 */2 *' # https://crontab.guru/#15_0_1_*_*

  create:
    tags:
    - 'v*.*.*'

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
    -
      name: Login to Registry (Docker Hub)
      uses: docker/login-action@v1 
      with:
        registry: registry.hub.docker.com
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}
    -
      name: Get date
      id: timestamp
      run: |
        echo "::set-output name=date::$(date +'%Y-%m-%d')"
        echo "::set-output name=week::$(date +'%Y.%V')"
    -
      name: Docker meta
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: registry.hub.docker.com/kdsda/ansible
        flavor: |
          latest=auto
        tags: |
          type=raw,value=${{ steps.timestamp.outputs.week }}
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
        labels: |
          no.kred.image.maintainer='Kreditorforeningen'
          no.kred.image.vendor='Kreditorforeningen'
          no.kred.image.title='Ansible'
          no.kred.image.description='Ansible Container Image'
          no.kred.image.timestamp="${{ steps.timestamp.outputs.date }}"
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
      with:
        install: true
    -
      name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: "Dockerfile"
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: true
        build-args: |
          IMAGE_NAME=debian
          IMAGE_VERSION=stable-slim
